<% provide(:title, "About")%>
<body>
<h1>The Challenge</h1>
<p>Ryan Lester - Vocals, Bass
</p>
<p>Robin Pennock - Guitar, Backup Vocals
</p>
<p>Dan Jackson - Percussion, Backup Vocals
</p>
<p>All songs written by The Challenge, Tony Meuser, and Devon Tingly
</p>
<!--<p>All songs written from left-wing perspectives ranging from Social Democratic to Libertarian Socialist
</p>
-->
</body>
