<% provide(:title, "About")%>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class = "thumb">
					<%= image_tag("Lock-Logo_160x160_WhiteAndBlack_Transparent.png") %>
				</div>
				<div>
					<p class="clogo"><i>Straight foward Hardcore</br>from the Left Coast</i>
					</p>
				</div>
			</div>	
			<div class="col-md-6">
					<h1 id="bottom-line">The Challenge</h1>
					<p>Ryan - Vocals, Bass <br>
					Rob Pennock - Guitar, Backup Vocals<br>
					Dan Jackson - Percussion, Backup Vocals<br>
					</p>
					<h3>Credits</h3>
					<p>Original cover photo by Glenn Halog via Flickr
					</p>
					<p>Creative Commons 2016 | Not for commercial use | Give this shit to your friends
					</p>
					<p>All tracks writen, produced and recorded by The Challenge: including Tony Meuser and Devan Tingly
					</p>
					<h2>Sound Clips</h2>
					<p>MacGruber, &copy; Universal, 2010.<br>
						The Twilight Zone, The Monsters Are Due on Maple Street, &copy; Rod Serling, 1960.
					</p>
					</br></br>					
					<p>Webmaster Rob Pennock | robpennock@gmail.com
					<p>
			</div>	
			<div class="col-md-3">
			</div>	
		</div>
	</div>

<!--<p>All songs written from left-wing perspectives ranging from Social Democratic to Libertarian Socialist
</p>
-->
</body>
