<% provide(:title, "About")%>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class = "thumb">
					<%= image_tag("Lock-Logo_160x160_WhiteAndBlack_Transparent.png") %>
				</div>
				<div>
					<p style="padding-left:5%"><i>Straight foward Hardcore</br>from the Left Coast</i>
					</p>
				</div>
			</div>	
			<div class="col-md-6">
				<div class="center">
					<h1 id="bottom-line">The Challenge</h1>
					<p>Ryan Lester - Vocals, Bass
					</p>
					<p>Robin Pennock - Guitar, Backup Vocals
					</p>
					<p>Dan Jackson - Percussion, Backup Vocals
					</p>
					<p>All songs written by The Challenge, Tony Meuser, and Devon Tingly
					</p>
				</div>
			</div>	
			<div class="col-md-3">
			</div>	
		</div>
	</div>

<!--<p>All songs written from left-wing perspectives ranging from Social Democratic to Libertarian Socialist
</p>
-->
</body>
