<% provide(:title, "About")%>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-12">
				<div align="center">
					<%= image_tag("Lock_Transparent_200.png", class: "img-responsive") %>
				</div>
				<div style="" align="center">
					<p class="clogo"><i>Straight foward Hardcore</br>from the left coast</i>
					</p>
				</div>
			</div>	
			<div class="col-md-8 col-sm-8 col-xs-12">
					<h1 id="bottom-line">THE CHALLENGE</h1>
					<p>Ryan - Vocals, Bass <br>
					Rob Pennock - Guitar, Backup Vocals<br>
					Dan Jackson -Drums, Backup Vocals
					</p>
					<h2>CREDITS</h2>
					<p>Original cover photo by Glenn Halog via Flickr
					</p>
					<p class="height-93">Creative Commons 2016. Not for commercial use. Give this shit to your friends
					</p>
					<p class="height-93">All tracks writen, recorded, produced, mixed, and mastered by The Challenge: including Tony Meuser and Devan Tingly
					</p>
					<br>
					<h3>SOUND CLIPS</h3>
					<br>
					<p>MacGruber, &copy; Universal, 2010.<br>
						The Twilight Zone, The Monsters Are Due on Maple Street, &copy; Rod Serling, 1960.
					</p>
			</div>	
			<div class="col-md-2 hidden-sm hidden-xs" align="right">
				<div align="right">
						<%= image_tag("Bad_Apples_Front_250.jpg", class: "image-right img-responsive") %>
				</div>
			</div>		
		</div>
		<div class="row spacer">
		</div>
	</div>

<!--<p>All songs written from left-wing perspectives ranging from Social Democratic to Libertarian Socialist
</p>
-->
</body>
<footer align="center">Webmaster Rob Pennock | robpennock@gmail.com</footer>