<% provide(:title, "Home") %> <!--works with layout/application.html.erb to link title-->
<div class="container">
	<body  class="homepage" >
		<!--
		<div align = "center">
			<h1>The Challenge Official</h1>
			<p></p>

			  <h2>
			    West Coast Melodic Hardcore
			  </h2>

			  <%= link_to "Check out our Music!", 'music', class: "btn btn-lg btn-primary" %>

		</div>-->
		<div class="row">
			<div class = "col-md-12 col-sm-12 col-xs-12">
				<div style="margin-left: auto; margin-right: auto;">
					<%= image_tag("BadApplesIntro_v2.jpg", class: "img-responsive full-width") %>
				</div>
			</div>
		</div>
		<div class="row spacer liner-bottom center-item" style="width: 75%">
			<div class = "col-md-12 col-sm-12 col-xs-12">
			</div>
		</div>
		<div class="spacer-top">
			<%= render 'layouts/medialinks' %>
		</div>
		<div class="spacer-bottom">
		</div>
	</body>
</div>