<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
	<head>
		<title><%yield (:title)%> | The Challenge</title>
	</head>
	<h1>Main#home</h1>
	<p>Find me in app/views/main/home.html.erb</p>
</body>
</html>
