<% provide(:title, "Home") %> <!--works with layout/application.html.erb to link title-->
<div align = "center">
<h1>Main#home</h1>
<p>Find me in app/views/main/home.html.erb</p>
</div>
<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>