<% provide(:title, "Home") %> <!--works with layout/application.html.erb to link title-->
<div class="container">
<body  class="homepage" >
<div align = "center">
	<h1>The Challenge Official</h1>
	<p></p>

	  <h2>
	    West Coast Melodic Hardcore
	  </h2>

	  <%= link_to "Check out our Music!", 'music', class: "btn btn-lg btn-primary" %>

</div>
<div align="center">
	<%= image_tag("BoomBox-Shirt-zBack.jpg") %>
</div>
</body>
</div>