<% provide(:title, "Home") %> <!--works with layout/application.html.erb to link title-->
<div class="container">
	<body  class="homepage" >
		<!--
		<div align = "center">
			<h1>The Challenge Official</h1>
			<p></p>

			  <h2>
			    West Coast Melodic Hardcore
			  </h2>

			  <%= link_to "Check out our Music!", 'music', class: "btn btn-lg btn-primary" %>

		</div>-->
		<div class="row">
			<div class = "col-md-12">
				<div align="center">
					<%= image_tag("BadApplesIntro_v_950x400.jpg") %>
				</div>
			</div>
		</div>
		<div class="row" style="padding-top:10px;">
			<div class="col-md-4">
			</div>
			<div class="col-md-1">
				<iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fthechallengeband&color=white_orange&size=48" style="width: 48px; height: 48px;"></iframe>
			</div>
			<div class="col-md-2" align="center">
				<%= link_to image_tag("bc-logotype-color-48.png"), "http://thechallengeband.bandcamp.com/" %>
			</div>
			<div class="col-md-1">
				<%= link_to image_tag("fb-logo-blue.jpg"), "http://facebook.com/thechallengeband" %>
			</div>
			<div class="col-md-1">
				
			</div>
			<div class="col-md-3">
			</div>
		</div>
	</body>
</div>