<% provide(:title, "Music") %>
<div class = "container">
	<div class="row">
		<div class="col-md-3">
			<div class="btn-group-vertical">
			  <button type="button" class="btn btn-default" id="ssdy-btn">Same Shit, Differnt Year</button>
			  <button type="button" class="btn btn-default" id="air-btn">As I Remember</button>
			  <button type="button" class="btn btn-default" id="mp-btn">Moments Past</button>
			  <button type="button" class="btn btn-default" id="ny-btn">Next Year</button>
			  <button type="button" class="btn btn-default" id="va-btn">Venting Anger</button>
			  <button type="button" class="btn btn-default" id="lfy-btn">Live For Yourself</button>
			  <button type="button" class="btn btn-default" id="ltf-btn">Light the Flame</button>
			  <button type="button" class="btn btn-default" id="fn-btn">False Narratives</button>
			</div>
		</div>
		<div class="col-md-6" id="mid-music">
			<h1>Main#music</h1>
			<p>Find me in app/views/main/music.html.erb</p>
		</div>
		<div class="col-md-3">
		</div>	
	</div>

</div>