<% provide(:title, "Music") %>
<body>
</br>
<div class = "container">
	<div class="row">
		<div class="col-md-3">
			<div class = "thumb">
				<<%= image_tag("Lock-Logo_160x160_WhiteAndBlack_Transparent.png") %>
			</div>
				<p style="padding-left:5%"><i>Straight foward Hardcore</br>from the Left Coast</i>
				</p>
			<div>
			</div>
			<div>
				<h2 style="padding-left: 27%;">Lyrics</h2>
			</div>
			<div class="btn-group-vertical" id="small-text">
			  <button type="button" class="btn btn-default left" id="ssdy-btn">SAME SHIT, DIFFERENT YEAR</button>
			  <button type="button" class="btn btn-default left" id="air-btn">AS I REMEMBER</button>
			  <button type="button" class="btn btn-default left" id="mp-btn">MOMENTS PASSED</button>
			  <button type="button" class="btn btn-default left" id="ny-btn">NEXT YEAR</button>
			  <button type="button" class="btn btn-default left" id="va-btn">VENTING ANGER</button>
			  <button type="button" class="btn btn-default left" id="lfy-btn">LIVE FOR YOURSELF</button>
			  <button type="button" class="btn btn-default left" id="ltf-btn">LIGHT THE FLAME</button>
			  <button type="button" class="btn btn-default left" id="fn-btn">FALSE NARRATIVES</button>
			</div>
		</div>
		<div class="col-md-6">
			<iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=3222499807/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://strikeanywhere.bandcamp.com/album/change-is-a-sound">Change is a Sound by Strike Anywhere</a></iframe>
			</br>	
			<div id="mid-music">
				<h1>Music</h1>
				<p align="center">Welcome to our music section. Click on a song title to see lyrics.</p>
				</br>
			</div>
		</div>
		<div class="col-md-3">
			<div align="right">
			</div>
		</div>	
	</div>

</div>
</br>
</body>