<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
	<head>
		<title><% yield (:title) %> | The Challenge</title>
	</head>
<body>
	<h1>Main#music</h1>
	<p>Find me in app/views/main/music.html.erb</p>
</body>
</html>