<% provide(:title, "Music") %>
<body>
	<div class = "container">
		<div class="row">
			<div class="col-md-2 hidden-sm hidden-xs">
				<div align = "left">
				<div align="center">
					<%= image_tag("Lock_Transparent_200.png", class: "img-responsive", align: "center") %>
				</div>
					
				<div class = "spacer-top" align="center">
					<p class="height-102"><i>Straight foward Hardcore</br>from the left coast</i>
					</p>
				</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12" style="padding-top: 1.0em;">
				<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/266617458&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
			</div>
			<div class="col-md-2 hidden-sm hidden-xs" align="right">
				<div align="center">
						<%= image_tag("Bad_Apples_Front_250.jpg", class: "image-right img-responsive block-border") %>
				</div>

			</div>	
		</div>
		<div class="row" style="padding-top: 5%;">
			<div class="col-md-2 hidden-sm hidden-xs">
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div align="left" class="lyrics-button"  id="small-text">
					<input type="button" class="btn btn-default full-width" align ="center" id="small-text "data-toggle="collapse" data-target="#toggleDemo" value="Click for Lyrics">
					
					<div id="toggleDemo" class="collapse full-width" >
						<div class="btn-group-vertical btn-responsive full-width" id="small-text">
						  <button type="button" class="btn btn-default left" id="ssdy-btn">SSDY</button>
						  <button type="button" class="btn btn-default left" id="air-btn">AS I REMEMBER</button>
						  <button type="button" class="btn btn-default left" id="mp-btn">MOMENTS PASSED</button>
						  <button type="button" class="btn btn-default left" id="ny-btn">NEXT YEAR</button>
						  <button type="button" class="btn btn-default left" id="va-btn">VENTING ANGER</button>
						  <button type="button" class="btn btn-default left" id="lfy-btn">LIVE FOR YOURSELF</button>
						  <button type="button" class="btn btn-default left" id="ltf-btn">LIGHT THE FLAME</button>
						  <button type="button" class="btn btn-default left" id="fn-btn">FALSE NARRATIVES</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2 hidden-sm hidden-xs">
			</div>
		</div>
		<div class = "row spacer">
		<div>
		<div class="row">
			<div class="col-md-1 hidden-sm col-xs-1">
			</div>
			<div class="col-md-10 col-sm-12 col-xs-12">
				<div  class="full-width top-line liner-bottom" id="mid-music">
					<h1 align="left">MUSIC</h1>
				
					<p>Welcome to our music section. Click on a song title to see lyrics. Hope you enjoy.
					</p>
				</br>
				</br>
					<h1></h1>
				</div>
			</div>
			<div class="col-md-1 hidden-sm hidden-xs" align="right">
			</div>
		</div>
		<div class="spacer-top">
		</div>
		<%= render 'layouts/medialinks' %>
	</div>
	</br>
</body>