<% provide(:title, "Music") %>
<body>
<div class = "container">
	<div class="row">
		<div class="col-md-3" background-color="black">
			<div class="btn-group-vertical">
			  <button type="button" class="btn btn-default" id="ssdy-btn">Same Shit, Different Year</button>
			  <button type="button" class="btn btn-default" id="air-btn">As I Remember</button>
			  <button type="button" class="btn btn-default" id="mp-btn">Moments Past</button>
			  <button type="button" class="btn btn-default" id="ny-btn">Next Year</button>
			  <button type="button" class="btn btn-default" id="va-btn">Venting Anger</button>
			  <button type="button" class="btn btn-default" id="lfy-btn">Live For Yourself</button>
			  <button type="button" class="btn btn-default" id="ltf-btn">Light the Flame</button>
			  <button type="button" class="btn btn-default" id="fn-btn">False Narratives</button>
			</div>
		</div>
		<div class="col-md-6" id="mid-music">
			<h1>Music</h1>
			<p align="center">Welcome to our music section. Click on a song title to see lyrics.</p>
		</div>
		<div class="col-md-3" background-color="black">
		</div>	
	</div>

</div>
</br>
</body>