<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "The Challenge", '/', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "MUSIC",   'music' %></li>
        <li><%= link_to "ABOUT", 'about' %></li>
      </ul>
    </nav>
  </div>
</header>